//pulls in bootstrap/sass variables and codes
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';



//custom CSS
html{
  background: $dull-red;
  height: 100%;
}

body{
  background: $pale-yellow;
  color: white;
  max-width: 1200px;
  margin: auto;

}

//styles for nav bar
nav{
  width: 1200px;
}

//styles for HEADER ITEMS

.header-banner{
  background-color: $dark-grey;
}

.btn-primary{
  background-color: $dull-red;
  border: none;
}

.btn-primary:hover{
  background-color: #70251f;
  border: none;

}

//Styles for HOURS AND LOCATION
main{
  width: 100%;
  display: block;
}
.hours-location{
  padding: 1%;
  color: black;
}

.hours-location h3{
  text-align: center;
  font-size: 250%;
}

.hours-location p{
  margin: 0;
}

p a{
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

p a:hover{
  font-weight: bold;
  color: $dull-red;
}

.hours p{
  margin: 0;
}

.dine-in, .days {
  margin-left: 2%;
}

//styles for item and pricing on homepage
.items-pricing{
  background-color: white;
  color: $black;
  margin: 0;
}

.menu-link{
  color: $dull-red;
  text-decoration: underline;
}

.menu-link:hover{
  color: #70251f;
}

.wonderdog{
  color: $dull-red;
  font-weight: bold;
}

//styles for gallery section of hp


.gallery-hp h2{
  color: black;
  padding-bottom: 20px;
}




//Styles for the footer
footer{
  background-color: $light-grey;
}

div.footer-copyright{
  background-color: $dark-grey;
}


//1. Sass/SCSS Variables:
$dark-grey: #2F2F2F;
$light-grey: #3A3A3A;
$pale-yellow: #ffe08c;
$dull-red: #bd3e35;

//3. Sass/SCSS Nesting:
div.tab-content{
  h1{
    color: $dull-red;
  }
  li{
    list-style: none;
  }
  h2{
    color: $dark-grey;
  }
  p{
    color: $light-grey;
    font-size: 14px;
  }
}

section.menu-tabs{
  margin: 1em;

  a{
    color: white;
    background-color: $dark-grey;
  }
  a:hover{
      color: white;
      background-color: $light-grey;
    }
  a.nav-link.active{
    color:white;
    background-color: $dull-red;
  }
}

//2. Sass/SCSS mixin:
@mixin header($color) {
  text-align: center;
  font-size: 36px;
  color: $color;
  font-weight: bold;
  padding-bottom: 2%;
}

.header{
  @include header($dark-grey);
}


//Gallery styles


.row {
  margin: 15px;
}

.imageContainer img{
  object-fit: cover;
  width:400px;
  height:300px;
}



* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  word-wrap: break-word;
}

.body,
.imageCaption {
  line-height: 1.4;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.galleryWrapper {
  font-size: 0.85rem;
  width: 90%;
  margin: 3rem auto;
}

.galleryWrapper,
.imageBox {
  max-width: 60rem;
}

.imageBox,
.header {
  text-align: center;
}

.imageContainer {
  padding: 0 0.5rem 1.25rem;
}

.imageLink {
  display: inline-block;
}

.imageLink,
.imageBox {
  line-height: 0;
}

.imageLink:nth-of-type(-n+19) {
  margin-bottom: 0.8rem;
}

.imageBox,
.largeImage,
.image,
.imageCaption {
  width: 100%;
}

.image,
.largeImage {
  -webkit-transform: perspective(1px);
  -moz-transform: perspective(1px);
  transform: perspective(1px);
}

.overlayContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 250;
}

.overlayContainer,
.imageCaption {
  bottom: 0;
}

.relativeContainer {
  position: relative;
  margin: 0 0.5rem;
}

.imageBox,
.imageCaption {
  position: absolute;
}

.imageBox {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display {
  display: block;
}

.imageCaption {
  margin: 0;
  font-size: 1.3em;
  padding: 0.325rem;
}



/***Colors***/


.imageLink {
  outline: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.imageLink:hover,
.imageLink:focus {
  opacity: 0.8;
}

.overlayContainer {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(51, 51, 51, .9);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}


.largeImage {
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
}

.imageCaption {
  background: rgba(51, 51, 51, .8);
  color: #fff;
}

.opacity {
  visibility: visible;
  opacity: 1;
}


.sales h1{
  color: $dark-grey;
}


@media only screen and (min-width: 980px) {

.imageLink {
  float: left;
  width: 48.33%;

.imageLink:nth-of-type(1),
.imageLink:nth-of-type(3),
.imageLink:nth-of-type(5),
.imageLink:nth-of-type(7),
.imageLink:nth-of-type(9),
.imageLink:nth-of-type(11),
.imageLink:nth-of-type(13),
.imageLink:nth-of-type(15),
.imageLink:nth-of-type(17),
.imageLink:nth-of-type(19){

  margin-right: 1%;
}
}

.imageLink:nth-of-type(1),
.imageLink:nth-of-type(3),
.imageLink:nth-of-type(5),
.imageLink:nth-of-type(7),
.imageLink:nth-of-type(9),
.imageLink:nth-of-type(11),
.imageLink:nth-of-type(13),
.imageLink:nth-of-type(15),
.imageLink:nth-of-type(17),
.imageLink:nth-of-type(19){

  margin-right: 3.33%;
}

.imageLink:nth-of-type(3) {
  margin-bottom: 0;
}
}

//Module 14 requirements:
//-------------------------------------------------------------------------------------------------------
//Extends/Inheritance
.carousel-img-gallery{
  @extend .carousel-img;
}
//-------------------------------------------------------------------------------------------------------
//Operator
.gallery-hp{
  background-color: $pale-yellow;
  padding-bottom: 10px * 2;
}

//-------------------------------------------------------------------------------------------------------
//Interpolation
$css-padding: 20px;

.carousel-img{
  width: 50%;
  margin: auto;
  padding-top: #{$css-padding};
}

//-------------------------------------------------------------------------------------------------------
//Other Sass/SCSS technique
.sales{
   &__h1 {
      color: $dark-grey;
   }
}
